body,html{
    height: 100%;
    margin:0;
    font-size: 16px;
    font-family: "lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;

}
.png1, .png2, .png3, .png4 {
    position: relative;
    opacity: 0.70;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.png1{
    background-image: url("./images/one.jpg");
    min-height: 100%;
}
.png2{
    background-image: url("./images/two.jpg");
    min-height: 400px;
}
.png3{
    background-image: url("./images/three.jpg");
    min-height: 400px;
}
.png4{
    background-image: url("./images/four.jpg");
    min-height: 400px;
}
.section{
    text-align: center;
    padding: 50px;
}
.section-light{
    background-color: lightgray;
    color:#666666;
}
.section-dark{
    background-color: lightslategray;
    color: white;
}
.section-green{
    background-color: cadetblue;
    color: white;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.ptext .border{
    background-color:#111;
    color: white;
    padding: 20px;
}
.ptext .border.trans{
    background-color: transparent;
}
.white{
    background-color: white;
    color: rebeccapurple;
    padding: 20px;

}
@media (max-width: 568px) {
    .png1, .png2, .png3, .png4{
        background-attachment: scroll;
    }
}